TS_AUTHKEY={{ docker_service_tailscale_authkey }}
TAILSCALE_OAUTH_CLIENT_ID={{ docker_service_tailscale_oauth_client_id }}
TAILSCALE_OAUTH_CLIENT_SECRET={{ docker_service_tailscale_oauth_client_secret }}
TECHNITIUM_ADMIN_PASSWORD={{ docker_service_technitium_admin_password }}

