COMPOSE_PROJECT_NAME=docker-apps
HOMELAB_DOCKER_ROOT={{ docker_apps_root }}
HOMELAB_DOCKER_PLATFORM=linux/amd64
PORTAINER_HOSTNAME={{ docker_apps_portainer_hostname }}
UPTIME_KUMA_HOSTNAME={{ docker_apps_uptime_kuma_hostname }}
