COMPOSE_KOMODO_IMAGE_TAG={{ komodo_image_tag }}
COMPOSE_KOMODO_BACKUPS_PATH={{ komodo_root }}/backups
KOMODO_DATABASE_USERNAME={{ komodo_database_username }}
KOMODO_DATABASE_PASSWORD={{ lookup('ansible.builtin.env', 'KOMODO_DATABASE_PASSWORD') }}
TZ={{ komodo_timezone }}
KOMODO_HOST=https://{{ komodo_hostname }}
KOMODO_TITLE={{ komodo_title }}
KOMODO_PERIPHERY_PUBLIC_KEY=file:/config/keys/periphery.pub
KOMODO_LOCAL_AUTH=true
KOMODO_INIT_ADMIN_USERNAME={{ komodo_initial_admin_username }}
KOMODO_INIT_ADMIN_PASSWORD={{ lookup('ansible.builtin.env', 'KOMODO_INIT_ADMIN_PASSWORD') }}
KOMODO_FIRST_SERVER_NAME={{ inventory_hostname }}
KOMODO_DISABLE_CONFIRM_DIALOG=false
KOMODO_DISABLE_INIT_RESOURCES=false
KOMODO_WEBHOOK_SECRET={{ lookup('ansible.builtin.env', 'KOMODO_WEBHOOK_SECRET') }}
KOMODO_JWT_SECRET={{ lookup('ansible.builtin.env', 'KOMODO_JWT_SECRET') }}
KOMODO_JWT_TTL=1-day
KOMODO_MONITORING_INTERVAL=15-sec
KOMODO_RESOURCE_POLL_INTERVAL=1-hr
KOMODO_DISABLE_USER_REGISTRATION={{ komodo_disable_user_registration | ternary('true', 'false') }}
KOMODO_ENABLE_NEW_USERS=false
KOMODO_DISABLE_NON_ADMIN_CREATE=false
KOMODO_TRANSPARENT_MODE=false
PERIPHERY_CORE_ADDRESS=ws://core:9120
PERIPHERY_CONNECT_AS={{ inventory_hostname }}
PERIPHERY_CORE_PUBLIC_KEYS=file:/config/keys/core.pub
PERIPHERY_ROOT_DIRECTORY={{ komodo_config_root }}
PERIPHERY_DISABLE_TERMINALS=false
PERIPHERY_DISABLE_CONTAINER_TERMINALS=false
PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname
